.header {
    margin-bottom: 61px;
    background-color: var(--blue-regular);
        &__container {
        justify-content: space-between;
        align-items: center;
        margin-bottom: unset;
        padding-top: 24px;
        padding-bottom: 24px;
        height: 96px;
        }
        &__menu {
            column-gap: 40px;
        }

        &__info {
            display: inherit;
            align-items: center;
            gap: 40px;
            &-biz {
                color: #FFF;
            }
            &-flag {
                margin-right: 4px;
                width: 20px;
                height: 20px;
            }
            &-lang {
                width: 20px;
                background-color: transparent;
                border: none;
                color: transparent;
                background: url('../../assets/icons/select-closed.svg');
                appearance: none;
            }
        }

        &__auth {
            display: inherit;
            align-items: center;
            gap: 20px;
            &-signin {
                padding: 14px 36.5px;
                max-width: 170px;
            }
            &-login {
                border: none;
                background-color: transparent;
                color: var(--orange-regular);
                transition: color var(--transition-duration) ease;
                &:hover {
                    color: #FFF;
                }
            }
        }
}